* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: linear-gradient(to right, #ff69b4, #d04894);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    animation: bounce 2s linear infinite;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: white;
    color: #d04894;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

@keyframes bounce {
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-10px);}
}

.btn:hover {
    background-color: #f8c8dc;
}

h2 {
    text-align: center;
}

.search-form {
    display: flex;
    margin: auto;
    text-align: center;
    gap: 20px;
    margin: 10px;
    justify-content: center;
}

.search-form {
    display: flex;
    padding: 30px 40px;
    text-align: center;
}

.search-form button {
    padding: 15px;
    background: #ff69b4;
    border: none;
    border-radius: 10px;
    color: white;
}

.search-form input {
    border-radius: 10px;
    border-color: grey;
}

.search-form select {
    border-radius: 10px;
}


.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    margin: 40px auto;
    width: 70%;
}

.feature-box {
    background: #fff0f5;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center; 
    max-width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05)
}

.features i {
    font-size: 2.1rem;
    color: #d04894;
}


.cta {
    text-align: center;
    background: #f8c8dc;
    padding: 20px;
    margin: auto;
}

footer {
    text-align: center;
    color: white;
    background: #d04894;
    padding: 5px;
    margin: auto;
}



